<div class="row mt-1 mt-sm-2 mt-md-3 justify-content-center">
  <div class="col-12 col-sm-5">
    <div class="alert alert-secondary mb-0 text-center ml-2 mr-2" role="alert">
      {{noOfCitiesPlaced}} cities placed | {{noOfCitiesGuessed}} cities guessed
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-5">
    <div class="alert alert-secondary text-center ml-2 mr-2" role="alert">
      {{remainingKm | number:'1.0-0'}} kilometers left
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="cityToBeGuessed">
  <div class="col-6 text-center font-weight-bold">
    <h5 *ngIf="intractableMap">Select the location of {{cityToBeGuessed.name}}</h5>
    <h5 *ngIf="!intractableMap && !reset"> You were off by {{kmOffset | number:'1.0-0'}} km</h5>
    <h5 *ngIf="reset" class="red-font">Game over press reset to start again</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <agm-map class="ml-2 mr-2" (mapReady)="onMapReady($event)"
             (mapClick)="mapClick($event)"
             [latitude]="initialPointOfTheMap.latitude"
             [longitude]="initialPointOfTheMap.longitude"
             [zoom]="0"
             [styles]="mapStyle"
             [restriction]="EUROPE_BOUNDS"
             [disableDefaultUI]="true">
      <agm-marker *ngFor="let marker of mapMarkers"
                  [longitude]="marker.long"
                  [latitude]="marker.lat"
                  [label]="{color: 'black', text: marker.label}"></agm-marker>
    </agm-map>
  </div>
</div>
<div class="row">
  <div class="col-12 justify-content-end d-flex">
    <button class="btn btn-info mr-2" (click)="lockAnswer()" *ngIf="intractableMap" [disabled]="!chosenPoint">Lock answer</button>
    <button class="btn btn-info mr-2" (click)="next()" *ngIf="!intractableMap && !reset" [disabled]="reset">Next</button>
    <button class="btn btn-info mr-2" (click)="resetGame()" *ngIf="reset">Reset</button>
  </div>
</div>
